/*=============== GOOGLE FONT ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== CSS VARIABLES ===============*/
:root{
    --header-height: 3.5rem;

/*=============== Colors ===============*/
/*Color mode HSL (Hue, Saturation, lightness)*/
--first-color: hsl(60, 89%, 48%);
--first-color-alt: hsl(57, 75%, 54%);
--first-color-light: hsl(61, 61%, 70%);
--title-color: hsl(228, 8%, 98%);
--text-color: hsl(228, 8%, 70%);
--white-color: hsl(228, 8%, 98%);
--black-color: hsl(228, 6%, 4%);
--body-color: hsl(220, 61%, 56%);
--container-color: hsl(228, 6%, 12%);
--shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);
--gradient-card: linear-gradient(180deg, 
                              hsla(93, 8%, 8%), 
                              hsla(93, 40%, 30%));

/*=============== Font and Typography ===============*/
/* .5rem = 8px | 1rem = 16px ...*/
--body-font: "Montserrat", sans-serif;
--biggest-font-size: 2.25rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;

/*=============== Font weight ===============*/
--font-regular: 400;
--font-semi-bold: 600;
--font-bold: 700;

/*=============== z index ===============*/
--z-tooltip: 10;
--z-fixed: 100;

/*=============== Responsive Typography ===============*/

@media screen and (min-width: 1152px){
    :root{
        --h1-font-size: 2.25rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .main {
    overflow: hidden;
  }

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions{
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}

.nav__logo{
    font-weight: var(--font-semi-bold);
    column-gap: .25rem;
    align-items: center;
}

.nav__logo i{
    color: var(--first-color);
    font-size: 1.25rem;
    font-weight: initial;
}

.nav__actions{
    font-size: 1.25rem;
    column-gap: .5rem;
    align-items: center;
}


/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(228, 24%, 6%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
}

/* Show menu */
.show-menu{
    right: 0;
}

/* Add blur header */


/* Active link */


/*=============== HOME ===============*/
.home__container{
    padding-top: 2.5rem;
    row-gap: 2rem;
}

.home__img{
    width: 270px;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.home__title span{
    color: var(--first-color);
}

.home__description{
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: 3rem;
}

.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

/*=============== BUTTON ===============*/
.button{
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: var(--font-bold);
    padding: .5rem 1.5rem .5rem .5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

.button span{
    background-color: var(--first-color);
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.button:hover span{
    transform: translateX(.15rem) rotate(-30deg);
}

.button__link{
    color: var(--white-color);
    font-weight: var(--font-bold);
    text-decoration: underline;
    transition: color .4s;
}

.button__link:hover{
    color: var(--first-color);
}

/*=============== NEWS ===============*/


/*=============== SHOP ===============*/


/*=============== CARE ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .home__title{
        font-size: 2rem;
    }

    .home__buttons{
        flex-direction: column;
        justify-content: center;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .home__container{
        grid-template-columns: 400px;
        justify-content: center;
    }
}
@media screen and (min-width: 768px){
    .nav__menu{
        width: 50%;
    }
}

/* For large devices */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .section__title{
        margin-bottom: 1.5rem;
    }

    .nav{
        height: var(--header-height);
    }

    .nav__toggle,
    .nav__close{
        display: none;
    }

    .nav__logo i{
        font-size: 1.5rem;
    }

    .nav__menu{
        width: initial;
    }

    .nav__list{
        flex-direction: row;
        column-gap:3.5rem
    }

    .nav__buttons{
        font-size: 1.5rem;
        column-gap: 1rem;
    }

    .home__container{
        grid-template-columns: 480px 535px;
        align-items: center;
        column-gap: 4rem;
        padding-top: 4rem;
    }

    .home__img{
        width: 480px;
    }

    .home__data{
        text-align: initial;
    }

    .home__description{
        margin-bottom:4.5rem;
    }

    .home__buttons{
        justify-content: initial;
        column-gap: 1.5rem;
    }
}
}
